<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Invoice Keeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>741F890D1E8F16D60035213A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741F89211E8F16D70035213A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>741F892C1E8F16D70035213A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
